*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/imagen2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor_consulta{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    padding: 10px 20px;
}
.contenedor_consulta div{
    margin: 100px 40px;
    color: white;
    transition: all 300ms;
}

.contenedor_consulta div h1{
    font-weight: 400; 
    font-size: 26px;
 }

.contenedor_consulta form input{
    width: 25%;
    margin-top: 20px;
    margin: 5%;
    padding: 5px 5px;
    border: 1px solid;
    background: white;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
.contenedor__consulta div input{
    margin-top: 30px;
}
.contenedor__consulta input{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor:pointer;
    color: black;
    outline: none;
    transition: all 300ms;
}

.contenedor__consulta input:hover{
    background: #fff;
    color:dimgrey;
}

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;   
    }
    .contenedor__consulta{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .contenedor__consulta div{
        margin: 0px;
        position:absolute;
    }
}