*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/imagen4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__pedidos{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position:relative;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    background-color:#0000;
}
.contenedor__pedidos form h2{
    font-size: 50px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}
.contenedor__pedidos div{
    margin: 100px 40px;
    color: white;
    transition: all 300ms;
}

.contenedor__pedidos div button{
    margin-top: 30px;
}
.contenedor__pedidos div h2{
    font-weight: 400; 
    font-size: 26px;
    text-align: left;
    margin-bottom: 20px;
    color: black;
}
 
 .contenedor__pedidos button{
     padding: 10px 40px;
     border: 2px solid #fff;
     background: transparent;
     font-size: 14px;
     font-weight: 600;
     cursor:pointer;
     color: black;
     outline: none;
     transition: all 300ms;
 }
 
 .contenedor__pedidos button:hover{
     background: #fff;
     color:dimgrey;

 }
.contenedor__pedidos form{
    width: 100%;
    padding: 80px 20px;
    background: #f2f2f2;
    position: absolute;
    border-radius: 20px;
}

.contenedor__pedidos div h2{
    font-weight: 400;
    font-size: 26px;
}

.contenedor__pedidos form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__pedidos form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    outline: none;

}
.contenedor__pedidos select{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;   
    }

    .contenedor__pedidos{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .contenedor__pedidos div{
        margin: 0px;
        position:absolute;
    }

}