 * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      body {
        background: #c5c2be;
        font-family: 'calibri';
      }
      
      header {
        background: #f3f5f7;
        width: 100%;
        clear: both;
        content:'';
        display: table;
      }
      
      .menu {
        width: 900px;
        margin: 0 auto;
      }
      
      img {
        width: 160px;
        height: 150px;
        float: left;
        padding: 20px;
      
      }
      
      nav {
        float: right;
      }
      
      nav ul li {
        list-style: none;
        margin-left: 75px;
        padding: 12px 0;
        float: left;
        position: relative;
      }
      
      nav ul li a {
        text-decoration: none;
        color: #444;
        font-weight: bold;
      }
      
      nav ul li a::before {
        display: block;
        content: '';
        width: 0%;
        background: #444;
        height: 5px;
        top:0;
        position: absolute;
        transition: width 0.2s;
      }
      
      nav ul li a:hover::before {
        width: 100%; }
      
      
    h2 {
      background: #c5c2be;
        width: 100%;
        content:'';
        display:initial ;
        color: rgb(99, 102, 99);
        font-weight: bold;
       box-sizing: border-box;
       font-family: 'Roboto', sans-serif;
       position:fixed;
       width: 20%;
       margin: 13%;
       padding: 5px 5px;
       font-size: 50px;
   }
      
      
    