*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../images/ropa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__productos{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.contenedor__productos div{
    margin: 100px 40px;
    color: white;
    transition: all 300ms;
}

.contenedor__productos p,
.contenedor__productos div button{
    margin-top: 30px;
}
.contenedor__productos div h2{
    font-weight: 400; 
    font-size: 26px;
}
.contenedor__productos div p{
    font-size: 16px;
    font-weight: 300;
}

.contenedor__productos button{
     padding: 10px 40px;
     border: 2px solid #fff;
     background: transparent;
     font-size: 14px;
     font-weight: 600;
     cursor:pointer;
     color: black;
     outline: none;
     transition: all 300ms;
    }

 
.contenedor__productos button:hover{
     background: #fff;
     color:rgb(7, 7, 7);
    }

.contenedor__productos form{
    width: 100%;
    padding: 80px 20px;
    background: #f2f2f2;
    position: absolute;
    border-radius: 20px;
}

.contenedor__productos form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(17, 16, 16);
}


.contenedor__productos div h2{
    font-weight: 400;
    font-size: 26px;
}

.contenedor__productos form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor__productos form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    outline: none;

}




@media screen and (max-width: 850px){
    main{
        margin-top: 50px;   
    }

    .contenedor__productos{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .contenedor__productos div{
        margin: 0px;
        position:absolute;
    }

}




